[submodule "stackage"]
	path = stackage
	url = git://github.com/fpco/stackage.git
[submodule "haskell-platform"]
	path = haskell-platform
	url = git://github.com/haskell/haskell-platform.git
[submodule "stackage-deps"]
	path = stackage-deps
	url = git://github.com/jwiegley/stackage-deps.git
